@import './variables';

@mixin title-h1 {
    color: $title-color;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center;  
}

@mixin breakpoint-mobile {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin breakpoint-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin breakpoint-desktop-1 {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin breakpoint-desktop-2 {
    @media (min-width: 1200px) {
        @content;
    }
}