// Font-color 
$white: #fff;
$main-color: #e15669;
$button-color: #525252;
$title-color: #000000;
$sections-color: #fdfeff; 

// Font 
$regular: 400;
$medium: 500;
$bold: 700;

// Font-size
$font-xxl: 36px;
$font-xl: 23px;
$font-l: 18px;
$font-m: 15px;
$font-s: 12px;
$font-xs: 10px;
$font-xxs: 8px;
