@import '../../sass/mixins';
@import '../../sass/variables.scss';

.footer-container {
    width: 100%;
    height: 20vh;
    background-color: $main-color;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    .icon {
        margin: 3px;
    }
    .social-icons {
        display: flex;
        font-size: 25px;
    }
    p {
        margin: 5px 0px 16px 0px;
        padding: 10px;
        text-align: center;
    }
    a {
        color: inherit;
    }
    .top {
        background-color: #495057;
        border: none;
        border-radius: 100%;
        bottom: 10px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        height: 30px;
        position: fixed;   
        right: 10px;
        text-align: center;
        width: 30px;
        z-index: 99;
        padding: 8px;
        .fa-chevron-up {
            padding-top: 10px;
        }
    }
}
